{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Markus Zapke-Gründemann, Max Brauer, Stephan Hoyer">
    <!--link rel="shortcut icon" href="static/img/favicon.ico" -->

    <title>{% trans 'correos' %}</title>

    <!-- styles -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <!-- /styles -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      {% block ie-lt-9 %}
      <script src="{% static 'js/html5shiv.js' %}"></script>
      <script src="{% static 'js/respond.min.js' %}"></script>
      {% endblock %}
    <![endif]-->
  </head>

  <body>

    <!-- domains -->
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">correos</a>
      </div>

      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <label class="sr-only" for="domain">
            {% trans 'Domain' %}
          </label>
          <select name="domain" class="form-control input-sm domain-select" 
            data-bind="options: domains, value: $root.domain, optionsValue:
            'name', optionsText: 'name'">
          </select>
        </div>
        <button class="btn btn-sm btn-success" id="reload-domains" data-toggle="tooltip" title="{% trans 'Reload Domains'%}" data-bind="click: $root.fetchDomains"><i class="glyphicon glyphicon-repeat"></i></button>
      </form>
    </nav>
    <!-- /domains -->

      <!-- postboxes -->
      <div class="grey-box full-height postbox-select col-md-2">
        <h2>{% trans 'Postboxes' %}</h2>
        <ul class="nav nav-pills nav-stacked" data-bind="foreach: users()">
          <li data-bind="css: {active: $parent.user() == name}">
            <a href="#" data-bind="click: $parent.activateUser">
              <span class="badge pull-right" data-bind="text: countMails"></span>
              <span data-bind="text: name"></span>
            </a>
          </li>
        </ul>
      </div>
      <!-- /postboxes -->

      <!-- email-list -->
      <div class="grey-box full-height email-select col-md-4">
        <h2>{% trans 'E-Mails' %}</h2>
        <!-- ko if: emails().length > 0 -->
        <ul class="nav nav-pills nav-stacked" data-bind="foreach: emails()">
          <li data-bind="css: {active: $parent.email().uuid == uuid}">
            <a href="#" data-bind="click: $parent.email">
              <span class="subject" data-bind="text: subject"></span>
              <span class="sender" data-bind="text: sender"></span>
              <span class="date" data-bind="text: date"></span>
            </a>
          </li>
        </ul>
        <!-- /ko -->
        <p data-bind="visible: !emails().length">{% trans 'Please choose a postbox.' %}
      </div>
      <!-- /email-list -->

      <!-- email-detail -->
      <div class="grey-box full-height email-detail col-md-6">
        <h2>{% trans 'E-Mail' %}</h2>

        <div class="row">
          <div class="col-md-1">
            <span class="sender">{% trans 'From' %}:</span>
            <span class="recipient">{% trans 'To'%}:</span>
          </div>

          <div class="col-md-8">
            <span class="sender">admin@example.co.uk</span>
            <span class="recipient">meier@example.com</span>
          </div>

          <div class="col-md-3">
            <span class="date pull-right">29. Sep 2013, 2pm</span>
            <div class="btn-group pull-right" data-toggle="buttons">
              <label class="btn btn-default btn-sm display_type_change active">
                <input type="radio" class="display_type_change" name="email_display_type" data-target="#plain-text"> Plain Text
              </label>
              <label class="btn btn-default btn-sm display_type_change">
                <input type="radio" class="display_type_change" name="email_display_type" data-target="#html"> HTML
              </label>
              <label class="btn btn-default btn-sm display_type_change">
                <input type="radio" name="email_display_type" data-target="#raw"> Raw
              </label>
            </div>
          </div>
        </div>
        <span class="subject">{% trans 'Subject' %}: Wellcome at example.co.uk!</span>
        <div class="mail-format" id="plain-text">
          Hi,<br />
          <br />
          we want to verify that you are indeed "Herr Meier".<br />
          <br />
          If so, please click the following Link or copy it into your Browsers Addressbar:<br />
          <br />
          <a href="https://example.co.uk/verifyEmail/23hjdsgfh08324nkjysdhjkjkh">https://example.co.uk/verifyEmail/23hjdsgfh08324nkjysdhjkjkh</a> <br />
          <br />
          If you're not "HerrMeier" you can ignore this email.<br />
          <br />
          With kind regards,<br />
          <br />
          Your example.co.uk-Team
        </div>
        <div class="mail-format" id="html" style="display: none;">
          <p>Hi,</p>

          <p>we want to verify that you are indeed "Herr Meier".</p>

          <p>If so, please click the following Link or copy it into your Browsers Addressbar:</p>

          <p><a href="https://example.co.uk/verifyEmail/23hjdsgfh08324nkjysdhjkjkh">https://example.co.uk/verifyEmail/23hjdsgfh08324nkjysdhjkjkh</a></p>

          <p>If you're not "HerrMeier" you can ignore this email.</p>

          <p>With kind regards,</p>
          <p>Your example.co.uk-Team</p>
        </div>
        <pre class="mail-format" id="raw" style="display: none;">
          <code>
Return-path: &lt;noreply@example.co.uk&gt;
Envelope-to: &lt;meier@example.com&gt;
Received: from smtp1.example.co.uk ([127.0.0.0]:43818)
by mail1.example.com with esmtp (Exim 4.72)
(envelope-from &lt;noreply@example.co.uk&gt;)
id 1UDcIZ-0001LT-9Z
for meier@example.com; Sun, 29 Sep 2013 14:00:02 +0200
Date: Sun, 29 Sep 2013 14:00:02 +0200
From: Admin &lt;admin@example.co.uk&gt;
To: Herr Meier &lt;meier@example.com&gt;
Message-ID: &lt;dfajklkleragjknnjklfe2.rs.example.co.uk.mail&gt;
Subject: Wellcome at example.co.uk!
Mime-Version: 1.0
Content-Type: html;
charset=UTF-8
Content-Transfer-Encoding: 7bit
X-Spam-Score: -2.1
X-Spam-Level: --
X-Spam-Flag: NO
X-Processed-Server: mail1.example.com

&lt;p&gt;Hi,&lt;/p&gt;

&lt;p&gt;we want to verify that you are indeed "Herr Meier".&lt;/p&gt;

&lt;p&gt;If so, please click the following Link or copy it into your Browsers Addressbar:&lt;/p&gt;

&lt;p&gt;&lt;a href="https://example.co.uk/verifyEmail/23hjdsgfh08324nkjysdhjkjkh"&gt;https://example.co.uk/verifyEmail/23hjdsgfh08324nkjysdhjkjkh&lt;/a&gt;&lt;/p&gt;

&lt;p&gt;If you're not "HerrMeier" you can ignore this email.&lt;/p&gt;

&lt;p&gt;With kind regards,&lt;/p&gt;
&lt;p&gt;Your example.co.uk-Team&lt;/p&gt;
          </code>
        </pre>
      </div>
      <!-- /email-detail -->

    <!-- JavaScript Files -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/knockout-2.3.0.js' %}"></script>
    <script src="{% static 'js/correos.js' %}"></script>
    <!-- /JavaScript Files -->

  </body>
</html>
