{% extends 'correos/site_base.html' %}
{% load i18n %}
{% load static %}

{% block page-navbar %}
<form class="navbar-form navbar-left" role="search">
  <div class="form-group">
    <label class="sr-only" for="domain">
      {% trans 'Domain' %}
    </label>
    <select name="domain" class="form-control input-sm domain-select"
      data-bind="options: domains, value: $root.domain, optionsValue:
        'name', optionsText: 'name'">
    </select>
  </div>
  <button class="btn btn-sm btn-primary" id="reload-domains" data-toggle="tooltip" title="{% trans 'Reload Domains'%}" data-bind="click: $root.fetchDomains"><i class="glyphicon glyphicon-repeat"></i></button>
</form>
{% endblock %}

{% block index-link-class %}active{% endblock %}

{% block content %}
    <div class="grey-box full-height postbox-select col-md-2">
      <ul class="nav nav-pills nav-stacked" data-bind="foreach: users()">
        <li data-bind="css: {active: $parent.user() == email}">
          <a href="#" data-bind="click: $parent.activateUser">
            <span class="badge pull-right" data-bind="text: emails_count"></span>
            <span data-bind="text: realname"></span>
          </a>
        </li>
      </ul>
      <p data-bind="visible: !users().length">{% trans 'Please choose a domain from the list above.' %}
    </div>

    <div class="grey-box full-height email-select col-md-4">
      <!-- ko if: emails().length > 0 -->
      <ul class="nav nav-pills nav-stacked" data-bind="foreach: emails()">
        <li data-bind="css: {active: $parent.email().uuid == uuid}">
          <a href="#" data-bind="click: $parent.email">
            <span class="sender" data-bind="text: sender"></span>
            <span class="date pull-right" data-bind="text: fuzzyDate"></span>
            <span class="subject" data-bind="text: subject"></span>
            <span class="preview" data-bind="text: preview"></span>
          </a>
        </li>
      </ul>
      <!-- /ko -->
      <div class="text-center user-empty">
          <p data-bind="visible: !emails().length">{% trans 'No user selected.' %}
      </div>
    </div>

    <div class="grey-box full-height email-detail col-md-6">
      <div data-bind="visible: email().recipient">
        <h2 class="subject" data-bind="text: email().subject"></h2>

        <div class="row">
          <div class="col-md-1">
            <span class="date">{% trans 'Date'%}:</span>
            <span class="sender">{% trans 'From' %}:</span>
            <span class="recipient">{% trans 'To'%}:</span>
          </div>

          <div class="col-md-7">
            <span class="date" data-bind="text: email().formatedDate"></span>
            <span class="sender" data-bind="text: email().sender"></span>
            <span class="recipient" data-bind="text: email().header.To"></span>
          </div>

          <div class="col-md-4">
            <div class="btn-group pull-right" data-toggle="buttons">
              <label class="btn btn-default btn-sm display_type_change active">
                <input type="radio" class="display_type_change" name="email_display_type" data-target="#plain-text"> Plain Text
              </label>
              <label class="btn btn-default btn-sm display_type_change">
                <input type="radio" class="display_type_change" name="email_display_type" data-target="#html"> HTML
              </label>
              <label class="btn btn-default btn-sm display_type_change">
                <input type="radio" name="email_display_type" data-target="#raw"> Raw
              </label>
            </div>
          </div>
        </div>
        <div class="mail-format" id="plain-text" data-bind="text: email().body"></div>
        <div class="mail-format" id="html" style="display: none;" data-bind="html: email().body"></div>
        <pre class="mail-format" id="raw" style="display: none;" data-bind="text: raw()"></pre>
      </div>
      <div data-bind="visible: !email().recipient" class="text-center email-empty">
        <i class="glyphicon glyphicon-envelope icon-xxl"></i>
        <h1>correos</h1>
        <hr>
        <p>{% trans 'No email selected.' %}
      </div>
    </div>
{% endblock %}

{% block js %}
{{ block.super }}
<script src="{% static 'js/correos.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.2.1/moment.min.js"></script>
{% endblock %}
