<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Markus Zapke-Gründemann, Max Brauer">
    <!--link rel="shortcut icon" href="static/img/favicon.ico" -->

    <title>{% block title %}{% trans 'correos' %}{% endblock %}</title>


    {% block style %}
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/custom.css" rel="stylesheet">
    {% endblock %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      {% block ie-lt-9 %}
      <script src="static/js/html5shiv.js"></script>
      <script src="static/js/respond.min.js"></script>
      {% endblock %}
    <![endif]-->
  </head>

  <body>

    <!-- navigation -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">correos</a>
      </div>
    </div>
    <!-- /navigation -->

    <!-- content -->
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    <!-- /content -->

    <!-- JavaScript Files -->
    {% block js %}
    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/knockout-2.3.0.js"></script>
    {% endblock %}
    <!-- /JavaScript Files -->

  </body>
</html>
