body, html, .full-height {
  height: 100%;
}

.grey-box {
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(231, 231, 231);
}

.navbar {
	margin-bottom: 0;
}

.navbar-brand {
	border-right: 1px solid #E7E7E7;
}

.domain-select {
	min-width: 200px;
}