body, html {
  height: 100%;
  overflow-y: hidden;
}

.full-height {
  height: 95%;
}

h2 {
    font-size: 17px;
    font-weight: bold;
    margin-top: 0.2em;
}

.grey-box {
    background-color: #F8F8F8;
    border: 1px solid #E7E7E7;
}

.icon-xxl {
    font-size: 5em;
}

.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    border-right: 1px solid #E7E7E7;
}

.domain-select {
    min-width: 200px;
}

.postbox-select {
    background-color: #F3F3F3;
}

.postbox-select li:hover a{
    background-color: #DDD;
}

.postbox-select, .email-select, .email-detail {
    padding-left: 1em;
    padding-top: 0.5em;
    overflow-y: scroll;
    overflow-x: hidden;
}

.email-select .subject, .email-detail .subject {
    color: #000;
    display: block;
}

.email-select .active .subject {
    color: #FFF;
}

.email-select .sender {
    font-weight: bold;
    color: #000;
}

.email-select .date {
    color: #428bca;
}

.email-select .preview {
    display: block;
    color: #888;
    max-height: 3em;
    overflow-y: hidden;
}

.email-select .active .sender, .email-select .active .date {
    color: #F8F8F8;
}
.email-select .active .preview {
    color: #a1c5e4;
}

.sender, .recipient, .email-detail .date {
    font-weight: bold;
}

.email-detail .sender, .email-detail .recipient {
    display: block;
}

.user-empty {
    margin-top: 250px;
    color: #BBB;
}

.email-empty {
    margin-top: 150px;
    color: #BBB;
}

.email-detail .subject {
    margin-bottom: 1em;
}

.mail-format {
    margin-top: 1em;
}

.panel-group {
    margin-top: 1em;
}
