body, html {
  height: 100%;
  overflow-y: hidden;
}

.full-height {
  height: 95%;
}

h2 {
	font-size: 17px;
	font-weight: bold;
	margin-top: 0.2em;
}

.grey-box {
    background-color: #F8F8F8;
    border: 1px solid #E7E7E7;
}

.navbar {
	margin-bottom: 0;
}

.navbar-brand {
	border-right: 1px solid #E7E7E7;
}

.domain-select {
	min-width: 200px;
}

.postbox-select, .email-select, .email-detail {
	padding-left: 1em;
	padding-top: 0.5em;
	overflow-y: scroll;
	overflow-x: hidden;
}

.email-select .subject, .email-detail .subject {
	color: #000;
	font-weight: bold;
	font-size: 130%;
	display: block;
}

.email-select .active .subject {
	color: #FFF;
}

.email-select .sender, .email-select .date {
	color: #5E5E5E;
}

.email-select .active .sender, .email-select .active .date {
	color: #F8F8F8;
}

.sender, .recipient {
	font-weight: bold;
}

.email-detail .sender, .email-detail .recipient {
	display: block;
}

.email-detail .date {
	font-size: 110%
}

.email-detail .subject {
	margin-bottom: 1em;
}

.mail-format {
	margin-top: 1em;
}